<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Landon Hotel | Room View</title>
   </head>
<link rel="stylesheet" href="C:\Users\harshith\IdeaProjects\room-web\src\main\resources\static\css\site.css">
<style>
    body{
        background-color: red;
    }
</style>
<body>
<table>
    <tr>
        <th>Room Number</th>
        <th>Name</th>
        <th>Bed Info</th>
    </tr>
    <tr th:each="room: ${rooms}">
        <td th:text="${room.number}"></td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.info}"></td>
    </tr>
</table>

</body>
</html>